definitions:
  requests.AddModelsInfoRequest:
    properties:
      models_infos:
        items:
          $ref: '#/definitions/requests.ModelsInfo'
        type: array
    type: object
  requests.AddModelsProviderInfoRequest:
    properties:
      models_provider_info:
        items:
          $ref: '#/definitions/requests.ModelsProviderInfo'
        type: array
    type: object
  requests.ListNodeInfoRequest:
    properties:
      node_user_id:
        type: integer
      page_info:
        $ref: '#/definitions/requests.PageReq'
    type: object
  requests.ListUsersRequest:
    properties:
      email:
        type: string
      page:
        $ref: '#/definitions/requests.PageReq'
      status:
        description: 0:全部 1:正常 2:禁用
        enum:
        - 0
        - 1
        - 2
        type: integer
      username:
        type: string
    type: object
  requests.MapModelsProviderInfoToNodeRequest:
    properties:
      model_id:
        type: integer
      node_id:
        type: integer
      provider_ids:
        items:
          type: integer
        type: array
    required:
    - model_id
    - node_id
    - provider_ids
    type: object
  requests.ModelsInfo:
    properties:
      address:
        type: string
      api_version:
        type: string
      cache_price:
        type: integer
      deploy_name:
        type: string
      input_price:
        type: integer
      is_private:
        type: integer
      name:
        type: string
      output_price:
        type: integer
      owner_id:
        type: integer
      status:
        type: string
    required:
    - api_version
    - deploy_name
    - name
    type: object
  requests.ModelsProviderInfo:
    properties:
      api_keys:
        type: string
      api_type:
        type: string
      cache_price:
        type: integer
      endpoint:
        type: string
      input_price:
        type: integer
      model_name:
        type: string
      name:
        type: string
      output_price:
        type: integer
      type:
        type: string
    required:
    - endpoint
    - name
    - type
    type: object
  requests.PageReq:
    properties:
      limit:
        type: integer
      skip:
        type: integer
      sort:
        type: string
    required:
    - limit
    - skip
    type: object
  requests.RegisterUserRequest:
    properties:
      email:
        type: string
      nickname:
        maxLength: 50
        type: string
      password:
        maxLength: 100
        minLength: 6
        type: string
      phone:
        maxLength: 15
        minLength: 11
        type: string
      username:
        maxLength: 50
        minLength: 3
        type: string
    required:
    - email
    - password
    - username
    type: object
  requests.UpdateUserInfoRequest:
    properties:
      avatar:
        type: string
      email:
        type: string
      nickname:
        maxLength: 50
        type: string
      phone:
        maxLength: 15
        minLength: 11
        type: string
      user_id:
        type: integer
    required:
    - user_id
    type: object
  requests.UpsetNodeInfoRequest:
    properties:
      code:
        type: string
      domain:
        type: string
      node_user_id:
        type: integer
    required:
    - node_user_id
    type: object
  responses.DefaultResponse:
    type: object
  responses.GetUserInfoResponse:
    properties:
      user_info:
        $ref: '#/definitions/responses.UserInfoResponse'
    type: object
  responses.ListUsersResponse:
    properties:
      list:
        items:
          $ref: '#/definitions/responses.UserInfoResponse'
        type: array
      total:
        type: integer
    type: object
  responses.LoginUserResponse:
    properties:
      expire_at:
        type: string
      token:
        type: string
      user_info:
        $ref: '#/definitions/responses.UserInfoResponse'
    type: object
  responses.LogoutUserResponse:
    properties:
      message:
        type: string
      success:
        type: boolean
    type: object
  responses.UpdateUserInfoResponse:
    properties:
      user_info:
        $ref: '#/definitions/responses.UserInfoResponse'
    type: object
  responses.UserInfoResponse:
    properties:
      avatar:
        type: string
      create_time:
        type: string
      email:
        type: string
      nickname:
        type: string
      phone:
        type: string
      status:
        description: 1:正常 2:禁用
        type: integer
      update_time:
        type: string
      user_id:
        type: integer
      username:
        type: string
    type: object
info:
  contact: {}
paths:
  /node/llm/addModelsInfos:
    post:
      consumes:
      - application/json
      description: 添加模型信息
      parameters:
      - description: 请求参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/requests.AddModelsInfoRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responses.DefaultResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.DefaultResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/responses.DefaultResponse'
      summary: 添加模型信息
      tags:
      - node/llm
  /node/llm/addModelsProvider:
    post:
      consumes:
      - application/json
      description: 添加模型供应商
      parameters:
      - description: 请求参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/requests.AddModelsProviderInfoRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responses.DefaultResponse'
      summary: 添加模型供应商
      tags:
      - NodeLLM
  /node/llm/listNodeInfos:
    post:
      consumes:
      - application/json
      description: 获取模型信息
      parameters:
      - description: 请求参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/requests.ListNodeInfoRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responses.DefaultResponse'
      summary: 获取模型信息
      tags:
      - node
  /node/llm/mapModelsProviderInfoToNode:
    post:
      consumes:
      - application/json
      description: 映射模型和模型供应商
      parameters:
      - description: 请求参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/requests.MapModelsProviderInfoToNodeRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responses.DefaultResponse'
      summary: 映射模型和模型供应商
      tags:
      - NodeLLM
  /node/llm/upsetNodeInfos:
    post:
      consumes:
      - application/json
      description: 添加/更新模型信息
      parameters:
      - description: 请求参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/requests.UpsetNodeInfoRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responses.DefaultResponse'
      summary: 添加/更新模型信息
      tags:
      - node
  /node/public/login:
    post:
      description: 登录用户
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responses.LoginUserResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.DefaultResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/responses.DefaultResponse'
      summary: 登录用户
  /node/public/register:
    post:
      consumes:
      - application/json
      description: 注册节点用户
      parameters:
      - description: 注册节点用户请求
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/requests.RegisterUserRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responses.DefaultResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.DefaultResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/responses.DefaultResponse'
      summary: 注册节点用户
      tags:
      - Node
  /node/user/getUserInfo:
    post:
      consumes:
      - application/json
      description: 获取用户信息
      parameters:
      - description: 用户ID
        in: path
        name: userId
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responses.GetUserInfoResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.DefaultResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/responses.DefaultResponse'
      summary: 获取用户信息
      tags:
      - 用户
  /node/user/listUsers:
    post:
      consumes:
      - application/json
      description: 用户列表
      parameters:
      - description: 用户列表
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/requests.ListUsersRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responses.ListUsersResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.DefaultResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/responses.DefaultResponse'
      summary: 用户列表
      tags:
      - 用户
  /node/user/logout:
    post:
      consumes:
      - application/json
      description: 用户登出
      parameters:
      - description: 用户ID
        in: path
        name: userId
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responses.LogoutUserResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.DefaultResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/responses.DefaultResponse'
      summary: 用户登出
      tags:
      - 用户
  /node/user/updateUserInfo:
    post:
      consumes:
      - application/json
      description: 更新用户信息
      parameters:
      - description: 用户信息
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/requests.UpdateUserInfoRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/responses.UpdateUserInfoResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.DefaultResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/responses.DefaultResponse'
      summary: 更新用户信息
      tags:
      - 用户
swagger: "2.0"
